{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">

   <h1><strong>Sort-It</strong></h1>
   <h3><em>How to sort your garbage through machine learning</em></h3>
   <hr class="my-4">
  
   <p class="lead"> This is <em>Coding Week 2020 : Reconnaissance Visuelle</em> project of group 9. We wanted to challenge ourselves in not only coding an harshly documented application of neural networks 
    but also in creating a program that would be meaningful into our daily lives. That is how we bring up Sort-It: a program that tells you how to sort your garbage.</p>
<p> You can try our program in the <a href= "/project">Project</a> tab.</p>
<p>The whole documentation of the project is available <a href="https://gitlab-cw7.centralesupelec.fr/marouane.nejjar/coding_week_projet_gp9">here</a>.</p>
  </div>
 </div>

{% endblock %}
